<connectionStrings>
  <add name="eTicket" connectionString="Server=182.254.219.83,8433;Initial Catalog=cpos_ap;User Id=sa;Password=JtLaxT7668;" providerName="System.Data.SqlClient"/>
  <add name="Platform" connectionString="Data Source=182.254.219.83,8433;Initial Catalog=cpos_bs;User Id=sa;Password=JtLaxT7668;" providerName="System.Data.SqlClient" />
  <add name="db_basicutility" connectionString="server=182.254.219.83,8433;Database=cpos_dex;User ID=sa;Password=JtLaxT7668" providerName="System.Data.SqlClient"/>
</connectionStrings>